@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,600&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme inline {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Fraunces', serif;

  --color-sage: #7E9B86;
  --color-sage-soft: #E4ECE6;
  --color-clay: #C17B4F;
  --color-clay-soft: #F4E3D6;
  --color-gold: #D9A94B;
}

body {
  font-family: 'Inter', sans-serif;
  color: #353B33;
}
